{% extends "site_admin/base.html" %}

{% block body_content %}
<div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Donor Information Page</h4>
                <p class="card-category"> List Of All Donor</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Blood Type
                      </th>
                      <th>
                        Request Date
                      </th>
                      <th>
                        Address
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Phone
                      </th>
                      <th>
                        Action
                      </th>

                    </thead>
                    <tbody>
                      {% for r  in request  %}
                      <tr>
                        <td>
                          {{ r.id }}
                        </td>
                        <td>
                          {{ r.user.first_name }} {{ r.user.last_name}}
                        </td>
                        <td>
                          {{ r.blood_type }}
                        </td>
                        <td>
                          {{ r.request_date }}
                        </td>
                        <td>
                          {{r.user.donor.address}}
                        </td>
                        <td class="text-primary">
                          {{ r.user.email}}
                        </td>
                        <td>
                          {{ r.user.donor.phone }}
                        </td>
                        <td>
                          <p> <a href="#">Approve</a> &nbsp; <a href="#" style="color: red;">Disapprove</a> </p>
                        </td>
                      </tr>
                      {% endfor %}


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
